button{ 
    background-color: red;color: white;
}
label{
    font-size: 25px;
    color: darkgray
}
body{
    background-color: aqua !important ;
    text-align: center
}
input{
    font-size: 15px;
}
* {
    margin: 0;padding-block-start: 10px; box-sizing: 600px ;
    font-style: italic;
}
body{
    border: 200px;
}
.label1 {

      color: blueviolet
}
div{
    box-sizing: border-box;
    border: 10px;
    width: 600px;
    padding:20px;
    margin: 10px 20px 30px 40px ;
}
span{
    margin-left: 100px;
    color:navy;
}
main{
    border: 1px solid; color: black;
    background-image: url(./Img.jpeg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
